{% extends "base.html" %}
{% block content %}
<div class="container">
  <div class="row table-responsive">
    <h3 id="_items">Items</h3>
    <table class="table" data-toggle="table">
      <thead>
        <tr>
          <th style="white-space: nowrap;" scope="col" data-sortable="true">Species</th>
          <th style="white-space: nowrap;" scope="col" data-sortable="true">Skills</th>
          <th style="white-space: nowrap;" scope="col" data-sortable="true">Item Drops</th>
        </tr>
      </thead>
      <tbody>
        {% for encounter in encounters %}
        <tr>
          <td style="white-space: nowrap;"><a href="">{{ encounter.species }}</a></td>
          <td style="white-space: nowrap;">
            {% for skill in encounter.skills %}
                <a href="#skill-{{ skill.id }}">{{ skill.name }}</a>,&nbsp;
            {% endfor %}
          </td>
          <td style="white-space: nowrap;">
            {% for item_drop in encounter.item_drops %}
                <a href="#item-{{ item_drop.id }}">{{ item_drop.name }}</a>,&nbsp;
            {% endfor %}
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock %}