{% extends "base.html" %}
{% block content %}
<div class="container">
    <div class="row">
        <h2>{{ skill_set.name }}</h2>
        <h3>Rewards</h3>
        <div class="page-content">
            <table class="table" style="max-width: 300px;">
                <tr>
                    <th>Points</th>
                    <th>Skill / trait</th>
                </tr>
                {% for reward in skill_set.rewards %}
                {% if reward.skill %}
                <tr>
                    <td>{{ reward.skill_point_requirement }}</td>
                    <td>{{ reward.skill }}</td>
                </tr>
                {% endif %}
                {% if reward.trait %}
                <tr>
                    <td>{{ reward.skill_point_requirement }}</td>
                    <td>{{ reward.trait }}</td>
                </tr>
                {% endif %}
                {% endfor %}
            </table>
        </div>
    </div>
</div>
{% endblock %}